.header {
    position: relative;
	padding: 0 24px;
	background: #fff;
    color: #001529;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-right {
	display: flex;
	align-items: center;
}

.search {
    margin-right: 15px;
}

.notice, .language, .user-opt {
    height: 64px;
    padding: 0 15px;
    cursor: pointer;
}

.user-options {
    width: 140px;
}

.user-opt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-opt:hover, .notice:hover, .language:hover {
    background: #f5f5f5;
}